<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <!--Banner Activities-->
        <activity
            android:name=".activity.FooterActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.HeaderActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.InterstitialActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.CoverActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.HalfInterstitalActivity"
            android:theme="@style/Theme.Transparent"/>
    </application>

</manifest>